body {
    background-color: #043354;
}
header {
    background-color: rgb(164, 192, 213);
    margin: 2%;
    height: auto;
}
.logoheader {
    float: left;
    width: 200px;
    margin-right: 15px;
}
h1 {
    font-size: 45px;
    color: rgb#191936;
    padding: 15px;
}
h2 {
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(50, 84, 108);
    padding: 4px;
    font-size: 20px;
    text-align: left;
}
.Subtitulo {
    font-size: 25px;
}
nav {
    border-bottom: solid #191936;
    background-color: #32546c ;
    padding: 1%;
    margin: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: right;
}
.menu {
    width: 180px;
    display: inline-block;
}
.menu a {
    color: rgb(164, 192, 213);
    text-decoration: none;
    font-size: 21px;
}
main {
    background-color: rgb(164, 192, 213);
    padding: 5px;
    margin: 2%;
}
#imagem-data-index {
    display: block;
    margin: auto;
}
p {
    color: #191936;
}
footer {
    
    text-align: center;
    border-bottom: solid #191936;
    background-color: #32546c ;
    padding: 1%;
    margin: 2%;
}
#main-equip {
    
}
.equip {
    height: 140px;
}
.equip img{
    width: 140px;
    border-radius: 50%;
    float: left;
}
.nome-equip {
    font-size: 22px;
    padding: 20px;;
    background-color: aliceblue;
    margin-left: 70px;
    
}